// 主色
$color-blue-800:  #1E40AF;
$color-gray:  #BAB7B7;
$color-black: #000000;
$color-white: #FFFFFF;

// 輔色
$color-green-600: #14b8a6;
$color-blue-600: #2563eb;
$color-blue-400: #60a5fa;
$color-blue-300: #93C5FD;

// 強調 
$color-amber-500: #f59e0b;

// 字體顏色
$font-color: #081334;

// rwd
$desktop: 1600px;
$pad: 1400px;
$phone: 1000px;

// 陰影
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;